body{
    background-color: black;

}
h1{
    font-family: Verdana, Arial ;
    color: antiquewhite;
    border: 3px solid blue ;

}
p{

    color: rgb(55, 239, 55);
    border-bottom : solid white ;
    border-top: solid green;
}