#box1{
    width: 200px;
    height: 200px;
    background-color: rgb(56, 147, 227);
    position: static;
    top: 0px;
    
    
}
#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(225, 39, 39);
    position: absolute;
    
    
}